body{
	background:url("amalfi-coast-in-italy.jpg");
	background-size:cover;
	background-align:center;
	}
	header{
	color:white;
	padding:20px 20px 0 20px;
	text-align:center;
	}
	header h1{
	margin:0 0 60px 0;
	display:inline;
	font-size:70px;
	}
	nav ul{
	margin:0;
	padding:0 0 0 15px;
	display:inline;
	}
	nav ul li{
	color:white;
	display:inline-block;
	list-style-type:none;
	padding:40px 20px 20px 20px;
	text-align:right;
	}
	nav ul li a{
	color:white;
}
	div{
		color:white;
		
		margin:60px auto;
		
		
}
